.chart-element{
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 2rem 1rem 2rem 1rem ;
  color: white;
  position: relative;
  white-space: nowrap;
  border-radius: .2rem;
  user-select: none;
  &.first-element {
    border: .1rem $secondary-color dashed;
    font-weight: bold;
    color: black;
    user-select: none;
  }
}

.input-element {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 2rem 1rem 2rem 1rem ;
  background-color: white;
  white-space: nowrap;
  border: .1rem solid $secondary-color;
  border-radius: .2rem;
  width: 14.5rem;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.line {
  position: absolute;
  height: .2rem;
  background-color: $secondary-color;
}

.top-line {
  position: absolute;
  top: 0;
  left: calc(50% - .1rem);
  width: .2rem;
  height: 2rem;
  background-color: $secondary-color;
}

.bottom-line {
  position: absolute;
  bottom: -2rem;
  left: calc(50% - .1rem);
  width: .2rem;
  height: 2rem;
  background-color: $secondary-color;
  &.first-element{
    bottom: -2.1rem;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.modal {
  position: absolute;
  width: 35rem;
  height: 18rem;
  background-color: white;
  border-radius: .2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 15;
  top: 5.5rem;
  right: -27rem;
  user-select: none;
}

.modal-heading {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.modal-button {
  border-radius: .2rem;
  border: $secondary-color solid .1rem;
  padding: 1rem 2rem;
  background-color: $background-color;
  color: $secondary-color;
  margin: .3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.tools-button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .6rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  user-select: none;
  &:last-child {
    margin-right: 0;
  }

  &.gray {
    background-color: $semi-transparent;
  }
  &.red {
    background-color: $error-color;
  }
  &.green {
    background-color: $success-color;
  }
  &.orange {
    background-color: $danger-color;
  }
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.cross {
  position: relative;
  width: 7px;
  height: 7px;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

.checkmark {
  position: relative;
  width: 13px;
  height: 13px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 9px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
